.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.vscode

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
/.gradle/

# project specific iml files
Triangle.AbstractMachine.Disassembler/triangle-disassembler.iml
Triangle.AbstractMachine.Interpreter/triangle-interpreter.iml
Triangle.AbstractMachine/triangle-abstractmachine.iml
Triangle.Compiler/triangle-compiler.iml
triangle-tools.iml

# triangle object files
*.tam

# intelliJ build output directories
Triangle.AbstractMachine.Disassembler/out/**
Triangle.AbstractMachine.Interpreter/out/**
Triangle.AbstractMachine/out/**
Triangle.Compiler/out/**
